/*------------------------------------------------------------------
File Name: Internal Style
Description: Internal Styles Css File
Author: GramoTech
Author URI: http://gramotech.com/
Version: 1.0
------------------------------------------------------------------*/

.internal-styles{
	outline:none;
}